streamlit>=1.20
pandas
openai
python-dotenv
sentence-transformers
scikit-learn
joblib
pydantic
chromadb
seaborn
boto3
pytest
psycopg2

langchain
langchain-openai
langchain-community
langchain-chroma>=0.1.2

# Import error
langchain-databricks 
databricks-vectorsearch
lark

fastapi[standard]

folium
streamlit-folium